totem {
  version:                             2
  token:                               3000
  token_retransmits_before_loss_const: 10
  join:                                60
  consensus:                           3600
  vsftype:                             none
  max_messages:                        20
  clear_node_high_bit:                 yes
  rrp_mode:                            none
  secauth:                             {{item.secauth|default('off')}}
  interface {
    ringnumber:   0
    bindnetaddr:  {{item.bind_address}}
    {% if item.broadcast|default(False) and item.broadcast|upper in ['ON','TRUE','YES']%}
    broadcast:    yes
    {% else %}
    mcastaddr:    {{item.multicast_address|default('239.1.1.2')}}
    {% endif %}
    mcastport:    {{item.port|default('5405')}}
    ttl:          {{item.ttl|default('3')}}
  }
}

logging {
  debug:           {{item.debug|default('off')}}
  fileline:        off
  to_stderr:       {{item.log_to_stderr|default('no')}}
  to_syslog:       {{item.log_to_syslog|default('no')}}
  to_logfile:      {{item.log_to_file|default('yes')}}
  logfile:         /var/log/corosync.log
  syslog_facility: daemon
  timestamp:       on
  logger_subsys {
    subsys: AMF
    debug:  off
    tags:   enter|leave|trace1|trace2|trace3|trace4|trace6
  }
}

amf {
  mode: disabled
}

aisexec {
  user:  root
  group: root
}